RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

MS_LINKING_PORT=3003
MS_LINKING_DATABASE_URL=postgres://postgres:postgres@postgres-linking:5432/ms_linking
MS_LINKING_API_KEY=dosecerta-internal-key-linking
MS_LINKING_ALLOWED_IPS=127.0.0.1,::1,::ffff:127.0.0.1,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
MS_LINKING_ACTIVATION_CODE_TTL_MINUTES=60
