RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

MS_LINKING_PORT=3003
MS_LINKING_DATABASE_URL=postgres://postgres:postgres@postgres-linking:5432/ms_linking
MS_LINKING_API_KEY=dosecerta-internal-key-linking
MS_LINKING_ALLOWED_IPS=127.0.0.1,::1,::ffff:127.0.0.1,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
MS_LINKING_ACTIVATION_CODE_TTL_MINUTES=60

MS_SCHEDULER_DATABASE_URL=postgres://postgres:postgres@postgres-scheduler:5432/ms_scheduler
MS_SCHEDULER_MAIN_API_URL=http://host.docker.internal:3002
MS_SCHEDULER_MAIN_API_KEY=dosecerta-internal-key-scheduler
MS_SCHEDULER_SYNC_INTERVAL_MS=30000
MS_SCHEDULER_PUBLISH_INTERVAL_MS=10000
MS_SCHEDULER_SYNC_LOOK_AHEAD_MINUTES=1440
MS_SCHEDULER_BATCH_SIZE=50

MS_NOTIFICATION_PORT=3004
MS_NOTIFICATION_DATABASE_URL=postgres://postgres:postgres@postgres-notification:5432/ms_notification
MS_NOTIFICATION_API_KEY=dosecerta-internal-key-notification
MS_NOTIFICATION_ALLOWED_IPS=127.0.0.1,::1,::ffff:127.0.0.1,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
MS_NOTIFICATION_PUSH_PROVIDER=mock
MS_NOTIFICATION_FCM_SERVER_KEY=
MS_NOTIFICATION_LINKING_SERVICE_URL=http://ms-linking:3003
